.demo-block{
  text-align: center;
}
.region-content {
    min-height: 350px;
  }

.main-container{
  margin-top: 3em;
}
.main-container-admin{
  margin-top: 3em;
}

#main-content
{
  margin-top: 1em;
}

#main-content-with-nav {
    z-index: 1;
    background-color: #ffffff;
    position: relative;
    margin-top: 4em;
}

@media screen and (max-width: 767px) {
  #main-content-with-nav {
    margin-top: 4em;
    margin-bottom: 0px!important;
  }

  h1.page-header{
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
   #main-content-with-nav {
    margin-top: 2em;
   }
}

/* header */
#navbar {
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-fixed-top{
  z-index: 10;
}

#navbar.is-hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.navbar-brand {
  height: auto;
  padding-top: 0.8em ;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Oswald', 'Lucida Sans Unicode','Lucida Grande',sans-serif;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

a.navbar-brand:hover{
  color: #666!important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
transition: all 0.5s;
}

a.logo{
  width: 5em;
}

.sec-logo{
  display: inline;
  max-width: 6em;
}

.navbar-text {
  width: 10em;
  text-align: initial;
  font-weight: 400;
  color: #666!important;
  font-size: 12pt;
  line-height: 1.1;
  margin: 0.8em 0;
  font-family: 'Oswald', 'Lucida Sans Unicode','Lucida Grande',sans-serif;
}
.navbar-toggle {
  background: #afafaf;
}

.toggle-search{
  padding: 4px 12px;
}
.form-control:focus {
  border-color: #0478d6;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(74, 65, 65, 0.075), 0 0 8px #277dd6;
  box-shadow: inset 0 1px 1px rgba(74, 65, 65, 0.075), 0 0 8px #277dd6;
}


.region-header-search{
  float: right;
}

.region-header-search .form-group{
  margin-bottom: 0px;
}
.block-search-form-block{
  width: 16em;
}

/* header-end */


.region-footer-bar-left ul, .region-footer-bar-right ul{
  list-style-type: none;
}

.region-footer-bar-left ul.menu li, .region-footer-bar-right ul.menu li{
  display: inline-block;
  padding: 5px;
}

.region-footer-bar-left ul.menu li:hover a, .region-footer-bar-right ul.menu li:hover a{
  background-color: transparent!important;
}



@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
.card {
  display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #EDF2F6;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover;
  transition: all .25s ease;
}
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase;
  color: #D30015;
}

/*login-form-start*/

.user-login-form,
.user-form,
.user-pass{
  max-width: 650px;
  margin: 40px auto;
  border: 1px solid #ddd;
  padding: 10px 30px;
  background: #FBFBFB;
}

.user-login-form .form-text,
.user-login-form .form-email,
.user-form .form-text,
.user-form .form-email,
.user-pass .form-text{
  width: 100%;
}
/* login form end */




     @media screen and (min-width: 767px) {
        .main-menu {
          background: #000;
          border-bottom: 1px solid #d32931;
        }

        ul#main-menu{
          font-family:  Montserrat;
        }

        .region-navigation-collapsible {
          width: auto;
          margin: 0;
          background: none;
          /*float: right;*/
        }
        .region-navigation-collapsible ul {
          border: 0;
        }
        .region-navigation-collapsible ul ul {
           position: absolute;
           top: 100%;
           left: 0;
           z-index: 1000;
           float: left;
           margin: 2px 0 0;
           text-align: left;
           list-style: none;
           background-color: #fff;
           -webkit-background-clip: padding-box;
           background-clip: padding-box;
           border: 1px solid #ccc;
           border: 1px solid rgba(0, 0, 0, .15);
           border-radius: 4px;
           -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
           box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        }
        .menu-base-theme li a:hover,
        .menu-base-theme li a:focus,
        .menu-base-theme li a:active,
        .menu-base-theme li a.highlighted {
           border-bottom: 2px solid #337ab7;
           color: #337ab7;
/*            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;*/
        }
        .region-navigation-collapsible ul ul li a,
        .region-navigation-collapsible ul ul li a:hover,
        .region-navigation-collapsible ul ul li a:focus,
        .region-navigation-collapsible ul ul li a:active,
        .region-navigation-collapsible ul ul li a.highlighted {
          padding: 12px 15px;
        }

/*.menu-base-theme li a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.menu-base-theme li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #337ab7;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.menu-base-theme li a:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
*/
        .region-navigation-collapsible ul ul li a {
          /*font-size: 0.8rem;*/
        }
        .region-navigation-collapsible li {
          border: 0;
        }
        .region-navigation-collapsible li a {
          background: none;
          border: 0;
          color: #000000;
          font-size: 14px;
        }
        .region-navigation-collapsible li a span.sub-arrow {
          padding: 0;
          top: 20px;
          margin-top: 0;
          bottom: 2px;
          right: 0;
          margin-left: -5px;
          left: auto;
          width: 0;
          height: 0;
          border-width: 4px;
          border-style: solid;
          border-color: #848484 transparent transparent transparent;
          font-size: 2em;
          line-height: 100%;
        }
        .region-navigation-collapsible li li span.sub-arrow {
          top: 15px;
          border-color: transparent transparent transparent #848484;
        }
        .region-navigation-collapsible li.active a,
        .region-navigation-collapsible li a.is-active {
          border-bottom: 4px solid;
          border-bottom-color: #337ab7;
        }
        .region-navigation-collapsible li a.is-active.has-submenu {
          background: none;
        }
         .region-navigation-collapsible li a.is-active.has-submenu:hover{
           border-bottom: 4px solid;
         /*  border-bottom-color: #337ab7;*/
         }

   }



      @media (max-width: 767px){

        .menu-base-theme {
            background: #ffffff;
        }

        .menu-base-theme li a{
          color: #337ab7;
          border-bottom: 1px solid #b3b3b3;
        }

        .menu-base-theme li a:active,
        .menu-base-theme li a.highlighted,
          .menu-base-theme li a:hover,
        .menu-base-theme li a:focus{
          background-color: #337ab7;
          color: #ffffff;
          border-bottom-color: #ffffff;
        }
      }


@media screen and (max-width: 767px){
  .region-navigation-collapsible{
    display: none;
  }

  .menu-base-theme li a span.sub-arrow {
    line-height: 100%;
    font-size: 2em;
  }
}

/*main navigation dropdown end*/





/* main slider section */

.slider-wrapper{
  margin-top: 7.2em;
}
.slider-wrapper-admin{
  margin-top: 7.2em;
}

.region-slider .slick-arrow {
  border-radius: 5px;
  background-color: #e3e3ed;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}



#slick-views-main-slider-block-1-1-slider .slide__content img{
/*  height: 80vh;
  object-fit: cover;*/
  width: 100%;
}

.slick--view--main-slider .slick-arrow{
  position: absolute;
  height: 50px;
  color: transparent;
  width: 50px;
}

.slick--view--main-slider .slick-arrow::before {
    color: #37465b!important;
    font-size: 3rem;
}

.slick--view--main-slider .slick-prev::before{
  font-family: "Font Awesome 5 Free";
  color: #ffffff;
  /*font-size: 3rem;*/
  top: 0%;
  left: 0;
  content: "\f104";
  font-weight: 900;
}

.slick--view--main-slider .slick-next::before{
  font-family: "Font Awesome 5 Free";
  color: #ffffff;
  /*font-size: 3rem;*/
  top: 0%;
  left: 0;
  content: "\f105";
  font-weight: 900;
}

#slick-views-main-slider-block-1-1-slider .slide__caption{
  background: #00000096;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /*font-size: 1.2rem;*/
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
  width: 50%;
  color: #ffffff;
  margin-bottom: 0px;
  /*font-family: "Montserrat";*/
  }

#slick-views-main-slider-block-1-1-slider .slide__title{
  font-size: 1.3rem;
}
#slick-views-main-slider-block-1-1-slider .slide__title a{
  color: #ffffff;
}

#slick-views-main-slider-block-1-1-slider .slide__title a:hover{
  color: #ffffff;
}


@media screen and (max-width: 767px){
  .slider-wrapper{
    margin-top: 8em;
  }
  .slider-wrapper-admin{
    margin-top: 4em;
  }
}

@media screen and (max-width: 767px){
  #slick-views-main-slider-block-1-1-slider .slide__caption{
    top: 65%;
    font-size: 0.85rem;
  }

  #slick-views-main-slider-block-1-1-slider .slide__title{
    font-size: 1rem;
  }

 .slick--view--main-slider .slick-arrow{
    height: 40px;
    width: 40px;
  }

  .slick--view--main-slider .slick-arrow::before {
    font-size: 2rem;
  }

}

@media screen and (max-width: 600px){
  #slick-views-main-slider-block-1-1-slider .slide__caption{
    top: 60%;
    font-size: 0.75rem;
  }

  #slick-views-main-slider-block-1-1-slider .slide__title{
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 450px){
  #slick-views-main-slider-block-1-1-slider .slide__caption{
    top: 50%;
    font-size: 0.7rem;
  }

  #slick-views-main-slider-block-1-1-slider .slide__title{
    font-size: 0.8rem;
  }

  .slick--view--main-slider .slick-arrow{
    height: 30px;
    width: 30px;
  }

}
@media (min-width: 64em){
  .slide__caption {
    padding: 10px;
  }
}

 /* .region-research-highlights #slick-views-research-highlights-block-1-1{
    padding-left: 4em;
    padding-right: 4em;
  }*/

/* main slider section ends */

/* node */

/*    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;*/

ol.breadcrumb li::before, ol.breadcrumb li.active::before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
} 
ol.breadcrumb li:first-child::before {
    content: "";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

/*
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}*/
  .sabbi-page-header.page-header-lg {
    min-height: 265px;
    /* width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 100px;
    left: 50%; */
  }


.profile-nav{
  padding:0;
  margin: 30px 0 30px 0;
  list-style:none;
  text-align:center;
}

.profile-nav li{
  margin: 0 5px;
  display:inline;
}

.profile-nav li a{
  display:inline-block;
  padding:10px 22px;
  color:#222222;
  border-radius:4px;
  background:#f7f7f7;
  margin-bottom:5px;
  transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
}

/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.main-section.padding{
  padding-bottom:60px;
}

/*.scholar_icon img, .scopus_icon img, .orcid_icon img{
  width: 32px;
}
*/
.scholar_icon{
    background-image: url(../img/scholar.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    color: transparent;
}

.scopus_icon{
  background-image: url(../img/scopus.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    color: transparent;
}

.orcid_icon{
    background-image: url(../img/orcid.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    color: transparent;
}

.scholar_icon:hover, .scopus_icon:hover, .orcid_icon:hover{
    color: transparent;
    outline: none;
}

.scholar_icon:focus, .scopus_icon:focus, .orcid_icon:focus{
    color: transparent;
    outline: none;
}
.scholar_icon:active:focus, .scopus_icon:active:focus, .orcid_icon:active:focus{
    color: transparent;
    outline: none;
}

ul.shs li:last-of-type{
  list-style-type: none;
}

.file {
  font-size: 100%;
  }

.file>span {
    border: none!important;
    background: transparent!important;
}

.file span.file-size{
  display: none;
}






/*node-content-section start*/

.slick-arrow::before {
    color: #337ab7;
  }

  .content-center{
    margin: 0 auto;
    width: 70%;
  }


  @media screen and (max-width: 800px){
    .content-center{
      margin: 0 auto;
      width: 90%;
    }
  }


/*node-content-section end*/




/* footer section */

.footer1 .nav > li > a:hover, .footer1 .nav > li > a:focus {
  background: transparent;
}
.footer-bottom nav li > a:hover, .footer-bottom nav li > a:focus{
  background: transparent;
}
.footer-bottom nav li > a:active{
  background: transparent;

}
.footer-bottom .contextual-region .contextual .contextual-links li{
  display: inline-block;
}
/* footer section end */


/*--------Back to top----------*/

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius:3px;
    color: #ffffff;
    z-index: 9999;
    cursor: pointer;
    transition: background 0.5s;
    -moz-transition:all background 0.5s;
    -webkit-transition: background 0.5s;
}

#back-to-top:after {
  content: "\f106";
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
}




/* media queries */

  @media screen and (max-width: 992px){
    .region-content{
      font-size: 13px;
    }
    .node-field-label{
      font-size: 14px;
    }
    .navbar-text {
      width: 8em;
    }
     .navbar-brand {
      font-size: 1.4rem;
     /* line-height: 3;*/
    }
  }
  
    @media screen and (max-width: 768px){
    .navbar-brand{
      font-size: 14pt;
      padding: 10pt;
      font-weight: normal;
      float:left;
      text-align: left;
      line-height: 1.2;
    }
    a.logo {
      width: 5em;
    }
    .sec-logo {
      display: inline;
      max-width: 4.5em;
    }
    .navbar-brand {
      max-width: 11em;
    }
    .region-content{
        font-size: 13px;
    }
  }
  
  @media screen and (max-width:767px){
    .footer-bootom-nav a {
      font-size: 0.75rem;
      }
      .footer-bottom ul.menu li{
        display: inline;
      }
    
      .title-widget{
        margin-bottom: 10px;
      }
    
      #main-wrap{
        padding-top: 0px;
      }
      .navbar-text{
        margin: 1em;
        font-size: 10pt;
        width: 8em;
        text-align: initial;
      }    
    }

  @media screen and (max-width: 600px) {
    .navbar-brand {
      max-width: 10em;
      font-size: 1rem;
      padding: 0.5em;
      line-height: 1.5;
    }
  }

  @media screen and (max-width: 450px) {
  .navbar-brand {
    max-width: 11em;
    padding: 8pt;
    margin-left: 0px;
    font-size: 0.8rem;
    line-height: 1.3;
  }
  .sec-logo {
    display: inline;
    max-width: 4em;
    
  }
  a.logo {
    width: 5em;
  }

  img.sec-logo{
    display: inline;
  }
  .region-content{
    font-size: 12px;
  }
  .top-head p {
    font-size: 10pt;
  }
  a.logo2{
    margin-right: 0em;
  }
}


@media screen and (max-width: 300px){
  .navbar-brand{
    max-width: 10em;
    line-height: 15px;
  }
  .navbar .logo {
    margin-right: -10px;
    padding-left: 5px;
    padding-right: 5px;
  } 
  a.logo {
    width: 3.5em;
  }
  img.sec-logo{
    max-width: 4em;
  }
}


/*@media screen and (min-width:1400px){
  .container {
    width: 1370px;
  }
}

@media screen and (min-width:1600px){
  .container {
    width: 1570px;
  }
}
@media screen and (min-width:1700px){
  .container {
    width: 1670px;
  }
  
}

@media screen and (min-width:1800px){
  .container {
    width: 1770px;
  }
}


@media screen and (min-width:1900px){
  .container {
    width: 1870px;
  }
}

@media screen and (min-width:2200px){
  .container {
    width: 2170px;
  }

}*/

@media screen and (max-width: 1200px){
/*  .navbar-brand{
    margin-left: 28px;
    padding-right: 100px;
  }*/
  .region-content{
    font-size: 14px;
  }
  .node-field-label{
    font-size: 16px;
  }
 
}

@media screen and (max-width: 1000px){
  .sec-logo {
    max-width: 5em;
  }
 /* .navbar-brand {
    padding: 30px;
  }*/
  .region-content{
    font-size: 14px;
  }
}







/* media queries end */